@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --menu-bg: rgba(36, 37, 46, 0.98);
  --controls-bg: rgba(36, 37, 46, 0.75);
  --control-btns: rgba(255, 255, 255, 0.5);
  --light-border: rgba(255, 255, 255, 0.75);
}

body {
  overflow: hidden;
  background: #181818;
  font-family: "Roboto", sans-serif;
}

#canvas {
  background-color: #181818;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  /* filter: blur(4px) contrast(20); */
}

.controls-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: var(--controls-bg);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px 20px;
}

.controls-container button {
  cursor: pointer;
  border-radius: 20%;
  border: none;
  width: 30px;
  aspect-ratio: 1;
  background-color: var(--control-btns);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.controls-container button:hover {
  background-color: white;
}

#play {
  background-image: url("/assets/play.svg");
}
#restart {
  background-image: url("/assets/restart.svg");
}
#step {
  background-image: url("/assets/skip.svg");
}

.pause {
  background-image: url("/assets/pause.svg") !important;
}

.main-container {
  min-width: 500px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--menu-bg);
  transform: translateX(-100%);
  border: none;
  border-right: 1px solid var(--light-border);
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  z-index: 0;
  transition: all 0.2s ease;
}

.main-container h1 {
  color: white;
  font-weight: 300;
}
.menu-button {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  aspect-ratio: 1;
  width: 60px;
  transform: translateX(100%);
  background-color: var(--menu-bg);
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid var(--light-border);
  border-left: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#value-button {
  margin-top: 30px;
  background-image: url("../assets/tune.svg");
}

#preset-button {
  margin-top: 100px;
  background-image: url("../assets/wrench.svg");
}

.show {
  transform: translateX(0%) !important;
  z-index: 10;
}

.morph-btn {
  background-image: url("../assets/close.svg") !important;
}

#values {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
}

.value {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.value h2 {
  text-align: left;
  color: white;
  font-size: 20px;
  font-weight: 300;
}

.value input {
  width: 35%;
  height: 35px;
  padding: 20px 20px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.308);
  border: 1px solid transparent;
  color: white;
  font-size: 20px;
}

#presets {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  overflow-y: scroll;
}

#presets::-webkit-scrollbar,
#values::-webkit-scrollbar {
  width: 3px;
}

#presets::-webkit-scrollbar-thumb,
#values::-webkit-scrollbar-thumb {
  width: 100%;
  background-color: aliceblue;
}
#presets::-webkit-scrollbar-track,
#values::-webkit-scrollbar-track {
  width: 0.1px;
  border: 0.1px solid transparent;
  background-clip: content-box;
  background-color: rgb(131, 131, 131);
}

.preset {
  width: 100%;
  border: 1px solid white;
  text-align: center;
  padding: 10px;
}

.preset h2 {
  color: white;
  font-weight: 200;
}

.preset-grid {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.preset-row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid white;
  padding: 10px;
}

.preset-row div,
.preset-row input {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
}

.color {
  border-radius: 50%;
}

.numeric {
  border: none;
  background-color: transparent;
  color: white;
  text-align: center;
}
